    body {
        background-color: #f4f6e2;
        font: 13px/20px "Open Sans",Arial,sans-serif;

    }
    header {
        background-image: url('../images/logo.png');
        background-repeat: no-repeat;
        background-color: #990000;
        padding-top: 0px;
        padding-bottom: 20px;
        height: 175px;
        width: 900px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);

    }

    #header{       
            background-repeat: no-repeat;
            background-position: center left;
            padding-left: 20px;
            padding-right: 20px;        
    }
    
    #page {
        background-image: url('../images/pageBG.png');
        background-repeat: repeat-x;
        background-color: #f1f1d3;
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        margin-bottom:25px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);

    }
/*controllo menu superiore*/
    #menu{
        margin-top: 155px;
        display: inline-block;
        color: white;
        list-style: none;
        position: static;

    }

    #menu ul li{
        display: inline-block;
        margin-right: 10px;

  

    }

    #menu a:link, #menu a:visited{
        color: white;
    }
    
    #menuTop li.riga{
        border-right: 1px solid #ad0000;
    }

    #content {
        margin-top: 40px;
        margin-left: 12%;
        margin-right: 15%;
        padding-bottom: 10px;
        padding-left: 20%;
        min-height: 500px;
        position: static;
        
    }
    
    #sidebar1{
    margin-top: 25px;
    float: left;
    width: 250px;    
    font-size: 13px;
    position: static;
    }
    
    #footer{
    background-color: #990000;
    padding: 10px;
    padding-bottom: 10px;
    color: white;
    display: block; 
    margin: auto; 
    margin-top: 10px;
    text-align: center;
    }
    
    
    .validator{
        text-align: center;
        padding-bottom: 5px;
    }


    #logout{
        margin-left: 600px;
        position: absolute; 
        color: white;
    }
    
    p.logout a:link, p.logout a:visited{
        padding-left: 18px;
        color: orange;
        
    }
    
    p.logout{
        background: url('../images/logout.png') no-repeat left center;
    }
    
 /* social bar */
    .social p{
        margin: 10px;
        float: left;
    }
    .social{
        width: 500px;
       
    }

    .social ul{
        display: block;
        float: right;
        margin-right: 10px;
    }

    .social ul li{
        display: inline-block;
        height: 25px;
        overflow: hidden;

    }

    .social ul li a:link{
        color: transparent;
    }
 
    label.full{
        display: inline-block;
        width: 70%;
    }

    label{
        display: inline-block;
        width: 30%;
    }    
    
    
    input[type=submit], button{
    color: #FFFFFF;
    background-color: #990000;
    height: 2em;
    font-weight: bold;
    border-radius: 1em;
    border: 1px solid #ad0000;
    min-width: 100px;
    margin-bottom: 10px;
    margin-top: 5px;

    }
    
    input[type=submit]:hover, button:hover{
	background:linear-gradient(to top, #ad0000 5%, #990000 100%);
        background-color:#ad0000;
    }
    
    
.input-form{
    line-height: 3em;

}


.input-form input[type=text], .input-form input[type=password]{
    display: inline-block;
    width:59%;
}

.input-form select{
    display: inline-block;
    width:59%;
    border: 1px solid #1c345a;
    background-color: #ffffff;
}

.input-form input[type=submit], .input-form button{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 10px;
    padding-right: 10px;

}

.btn-group input[type=submit], .btn-group button{
    display: inline-block;
}

.btn-group{
    text-align: center;
}

/* stile delle tabelle */

table {
    border: 1px solid #1c345a;
    border-collapse: collapse;
    margin-top:10px;
    line-height: 1.2em;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}


th, td {
    border: 1px solid #1c345a;
    border-collapse: collapse;
    text-align: center;
}

th{
    background-color: #990000;
    color: white;
    font-weight: bold;
}
td.normal {
    height: 50px;
}

.esami-col-small{
    width: 10%;
}

.esami-col-large{
    width: 15%;
}

/* stile delle tabelle per il pannello di controllo*/
.content{
    border: 0px;
    width: 550px;
    table-layout: fixed;
    margin-top: 40px;
}

.noRighe{
    border: 0px;
    padding-bottom: 40px;
}